<div ng-repeat="event in events">
	<h1>{{event.name}}</h1>
	

	<p><span class="glyphicon glyphicon-time"></span> Posted on {{event.postDate}}</p>

	<hr>

	<img class="img-responsive" ng-src="pictures/events/{{event.picture}}" alt="">

	<hr>

	<p class="lead">{{event.description}}</p>

	<hr>

	<div class="well">
	  <h4>Informationen und Anmeldung</h4>
	  <br />
	  <p><b>Ort:</b> {{event.place}}</p>
	  <p><b>Datum der Durchführung:</b> {{event.date_start}} bis {{event.date_end}}</p>
	  <pr><b>Preis Fallschirmspringer (CHF): </b>{{event.priceSkydive}}
	  <p><b>Anzahl Plätze Fallschirmspringer (frei/gesamt):</b> {{event.freeSlotsSkydive}}/{{event.slotsSkydive}}</p>
	  <pr><b>Preis Passagiere (CHF): </b>{{event.pricePax}}
	  <p><b>Anzahl Plätze Passagiere (frei/gesamt):</b> {{event.freeSlotsPax}}/{{event.slotsPax}}</p>
	  <p><b>Anmeldung möglich bis:</b> {{event.registration_until}}</p>
	  <p><b>Verbleibende Anmeldezeit:</b> {{event.remainingDays}} Tage</p>

	 <button type="button" class="btn btn-primary" ng-click="openParticipateModal(event)" ng-disabled="event.remainingDays<1">
            <span class="glyphicon glyphicon-list"></span>
            Anmelden
        </button>

	  <button type="button" class="btn btn-info" ng-click="openParticipantsModal(event)">
            <span class="glyphicon glyphicon-list"></span>
            Teilnehmerliste
        </button>
	</div>

	<hr>
</div>