<div ng-repeat="event in events">
	<h1>{{event.name}}</h1>
	

	<p><span class="glyphicon glyphicon-time"></span> Posted on {{event.postDate}}</p>

	<hr>

	<img class="img-responsive" src="/sers/pictures/events/{{event.picture}}" alt="">

	<hr>

	<p class="lead">{{event.description}}</p>

	<hr>

	<div class="well">
	  <h4>Informationen und Anmeldung</h4>
	  <br />
	  <p>Max Teilnehmer: {{event.availableSlots}}</p>
	  <p>Anzahl Plätze Fallschirmspringer (frei/gesamt): X/{{event.slotsSkydive}}</p>
	  <p>Anzahl Plätze Passagiere (frei/gesamt): X/{{event.slotsPax}}</p>
	 <p> Verbleibende Anmeldezeit: {{event.remainingRegistrationDays}} Tage</p>

	 <button type="button" class="btn btn-primary" ng-click="openParticipateModal(event)" ng-disabled="!event.remainingRegistrationDays">
            <span class="glyphicon glyphicon-list"></span>
            Anmelden
        </button>

	  <button type="button" class="btn btn-info" ng-click="openParticipantsModal(event)">
            <span class="glyphicon glyphicon-list"></span>
            Teilnehmerliste
        </button>
	</div>

	<hr>
</div>